
    <!-- form to search invoice -->
    <div  class="adjustheight">
        <form class="form-container" method="POST"action="/invoice/insert" >
         <input type="text" name="InvoiceNo" placeholder="InvoiceNo" required>
        <input type="text" name="image" placeholder="image" required>
        <input type="text" name="Manufacturer" placeholder="Manufacturer" required>
        <input type="text" name="class" placeholder="class" required>
        <input type="number" step="any" name="Sales_in_thousands" placeholder="Sales_in_thousands" required>
        <input type="number" step="any" name="__year_resale_value" placeholder="__year_resale_value" required>
        <input type="text" name="Vehicle_type" placeholder="Vehicle_type" required>
        <input type="number" step="any" name="Price_in_thousands" placeholder="Price_in_thousands" required>
        <input type="number" step="any" name="Engine_size" placeholder="Engine_size" required>
        <input type="number" step="any" name="Horsepower" placeholder="Horsepower" required>
        <input type="number"step="any"  name="Wheelbase" placeholder="Wheelbase" required>
        <input type="number" step="any" name="Width" placeholder="Width" required>
        <input type="number"  step="any" name="Length" placeholder="Length" required>
         <input type="number" step="any" name="Curb_weight" placeholder="Curb_weight" required>
          <input type="number" step="any" name="Fuel_capacity" placeholder="Fuel_capacity" required>
           <input type="number" step="any" name="Fuel_efficiency" placeholder="Fuel_efficiency" required>
            <input type="date"  name="Latest_Launch" placeholder="Latest_Launch" required>
             <input type="number" step="any" name="Power_perf_factor" placeholder="Power_perf_factor" required>

        <input type="submit">
        </form>
    </div>
   
