
 <div  class="adjustheight">
        <form class="form-container" method="POST"action="/invoice/searchby/field" >
        <div class="sortby">
<label for="sortField">Search by:</label>
<select id="sortField" name="sortField">
  <option value="InvoiceNo">InvoiceNo</option>
  <option value="Manufacturer">Manufacturer</option>
  <option value="class">class</option>
  <option value="Sales_in_thousands">Sales_in_thousands</option>
  <option value="__year_resale_value">__year_resale_value</option>
  <option value="Vehicle_type">Vehicle_type</option>
  <option value="Price_in_thousands">Price_in_thousands</option>
  <option value="Engine_size">Engine_size</option>
  <option value="Horsepower">Horsepower</option>
  <option value="Wheelbase">Wheelbase</option>
  <option value="Width">Width</option>
  <option value="Length">Length</option>
  <option value="Curb_weight">Curb_weight</option>
  <option value="Curb_weight">Curb_weight</option>
  <option value="Fuel_capacity">Fuel_capacity</option>
  <option value="Curb_weight">Curb_weight</option>
  <option value="Fuel_efficiency">Fuel_efficiency</option>
  <option value="Latest_Launch">Latest_Launch</option>
  <option value="Power_perf_factor">Power_perf_factor</option>
</select>
</div>
         <input type="text" name="fieldVal" placeholder="fieldVal" required>
        <input type="submit">
        </form>